.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  text-align: center;
  margin-bottom: 40px;
  color: #555;
}

div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 400px;
  height: 300px !important;
  margin:  auto;
  border-radius: 20px;
  object-fit: cover;
  opacity: 0.5;
  transition: transform 0.8s;
}

img:hover {
  opacity: 1;
  transform: scale(1.2);
  border: 1px solid #fff;
}
